*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-image: url(../assets/images/bg-2.png);
    margin-top: 12vh;
    
}


a{
    text-decoration: none;
    display: block;}

li{
    list-style: none;
}

